# Ignore Mac system files
.DS_store

# Ignore R project and R project files
git_repo.Rproj
.Rproj.user/
.RData
.Rhistory
analysis_code/explo_analyses_R1_cache/
analysis_code/explo_analyses_R1.html
analysis_code/.Rhistory
